<div class="header1">
  <div class="container header1-container">
    <div class="row">
      <div class="col-md-6">
        <h5><i class="bi bi-whatsapp"> Call Now + 92 300 951 0648</i></h5>
      </div>
      <div class="col-md-1 social-col">
        <h4><a href="https://www.facebook.com" class="fb-yt-icon"><i class="bi bi-facebook"></i></a></h4>
        <h4><a href="https://www.youtube.com" class="fb-yt-icon"><i class="bi bi-youtube"></i></a></h4>
        <h4><a href="https://join.skype.com/invite/wfkD9DzALbY8" class="fb-yt-icon"><i class="bi bi-skype"></i></a></h4>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light nav-con">
  <div class="container-fluid">
    <%= link_to(root_path, class: 'navbar-brand') do %>
      <%= image_tag('new_logo.png', style: 'object-fit: contain; width: 50px; height: 50px;') %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-list">
        <% current_page = request.fullpath %>
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link active navbar-link navbar-icon' do %>
            <i class="bi bi-house-door"></i> Home
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to page_about_path, class: 'nav-link active navbar-link navbar-icon' do %>
            <i class="bi bi-file-person"></i> About
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to page_contact_path, class: 'nav-link active navbar-link navbar-icon' do %>
            <i class="bi bi-person-rolodex"></i> Contact Us
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to videos_index_path, class: 'nav-link active navbar-link navbar-icon' do %>
            <i class="bi bi-play-btn"></i> My Videos
          <% end %>
        </li>
      </ul>
      <div class="d-flex">
        <% if user_signed_in? %>
          <%= link_to "Add a new video", new_admin_video_path, class: 'btn btn-primary new-video-btn' %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
